body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

div {
    width: 50%;
}

a:link {
    color: #002Eb8;
}

a:visited {
    color: #8a00b8;
}

a:hover {
    color: #ff6633;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.10em;
}

.iQuant {
    font-weight: bold;
    font-size: 1em
}

.iType {
    font-size: 0.95em;
    font-style: italic;
}

.tLink {
    font-size: 0.7em;
}

#tContents {
    text-align: center;
}

#tContents li {
    font-family: serif;
    font-size: 1.10em;
    display: inline-block;
    border: 1px solid black;
    padding: 0.1em;
    border-radius: 0.25em;
    margin: 0.5em;
}

#tContents li:hover {
    background-color: #ededed;
}